body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:572px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:393px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:59px;
  width:541px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3045 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:118px;
  width:572px;
  height:210px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3046 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
