body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:657px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:73px;
  width:220px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:109px;
  width:630px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1299_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:153px;
  width:234px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:289px;
  width:113px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:248px;
  width:148px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1302_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:388px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1303 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1303_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:417px;
  width:245px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1304_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
