body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:657px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:73px;
  width:220px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:109px;
  width:630px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:153px;
  width:234px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:289px;
  width:113px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:248px;
  width:148px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:388px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:417px;
  width:245px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
