body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1133px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:70px;
  width:1066px;
  height:698px;
}
#u1323_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:698px;
  overflow:auto;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:70px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:15px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u1327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#333333;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:25px;
  width:71px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u1328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#333333;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:25px;
  width:94px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#333333;
}
#u1329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:20px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u1331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:15px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
}
#u1332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
  line-height:24px;
  text-transform:uppercase;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:15px;
  width:97px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
  line-height:24px;
  text-transform:uppercase;
}
#u1334 .text {
  position:absolute;
  align-self:center;
  padding:6px 15px 6px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1334_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
  line-height:24px;
  text-transform:uppercase;
}
#u1334.mouseOver {
}
#u1334_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
  line-height:24px;
  text-transform:uppercase;
}
#u1334.mouseDown {
}
#u1334_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
  line-height:24px;
  text-transform:uppercase;
}
#u1334.mouseOver.mouseDown {
}
#u1334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:15px;
  width:40px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1336_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 132, 207, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1336.mouseOver {
}
#u1336_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1336.mouseDown {
}
#u1336_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(80, 165, 213, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1336.mouseOver.mouseDown {
}
#u1336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:30px;
  width:10px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u1337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u1337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:3px;
  filter:drop-shadow(3px 3px 4.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:51px;
  width:164px;
  height:124px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:59px;
  width:163px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340 .text {
  position:absolute;
  align-self:center;
  padding:6px 16px 6px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1340_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseOver {
}
#u1340_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseDown {
}
#u1340_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.selected {
}
#u1340_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.disabled {
}
#u1340_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseOver.mouseDown {
}
#u1340_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseOver.selected {
}
#u1340_div.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseDown.selected {
}
#u1340_div.mouseOver.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.mouseOver.mouseDown.selected {
}
#u1340_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1340.selected.disabled {
}
#u1340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:95px;
  width:163px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341 .text {
  position:absolute;
  align-self:center;
  padding:6px 16px 6px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1341_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseOver {
}
#u1341_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseDown {
}
#u1341_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.selected {
}
#u1341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.disabled {
}
#u1341_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseOver.mouseDown {
}
#u1341_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseOver.selected {
}
#u1341_div.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseDown.selected {
}
#u1341_div.mouseOver.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.mouseOver.mouseDown.selected {
}
#u1341_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1341.selected.disabled {
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:131px;
  width:163px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342 .text {
  position:absolute;
  align-self:center;
  padding:6px 16px 6px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1342_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.03529411764705882);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseOver {
}
#u1342_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseDown {
}
#u1342_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.selected {
}
#u1342_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.disabled {
}
#u1342_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseOver.mouseDown {
}
#u1342_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseOver.selected {
}
#u1342_div.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseDown.selected {
}
#u1342_div.mouseOver.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.mouseOver.mouseDown.selected {
}
#u1342_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.08235294117647059);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
#u1342.selected.disabled {
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:469px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:63px;
  height:469px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:437px;
  width:28px;
  height:27px;
  display:flex;
  transition:none;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#333333;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:464px;
  width:48px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u1347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:491px;
  width:26px;
  height:22px;
  display:flex;
  transition:none;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#333333;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:513px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u1350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:387px;
  width:24px;
  height:25px;
  display:flex;
  transition:none;
}
#u1352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#333333;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:413px;
  width:57px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u1353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:339px;
  width:31px;
  height:26px;
  display:flex;
  transition:none;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:365px;
  width:36px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#333333;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:315px;
  width:44px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#333333;
}
#u1359 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1359_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:292px;
  width:26px;
  height:23px;
  display:flex;
  transition:none;
}
#u1360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:87px;
  width:32px;
  height:27px;
  display:flex;
  transition:none;
}
#u1362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:114px;
  width:35px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
