body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:653px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:298px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:18px;
  width:653px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u1367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:89px;
  width:484px;
  height:165px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
