body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:409px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:57px;
  width:409px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:36px;
}
#u395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:212px;
  width:79px;
  height:34px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:81px;
  height:36px;
}
#u396_img.mouseOver {
}
#u396.mouseOver {
}
#u396_img.mouseDown {
}
#u396.mouseDown {
}
#u396_img.mouseOver.mouseDown {
}
#u396.mouseOver.mouseDown {
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  text-transform:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:212px;
  width:79px;
  height:34px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:81px;
  height:36px;
}
#u397_img.mouseOver {
}
#u397.mouseOver {
}
#u397_img.mouseDown {
}
#u397.mouseDown {
}
#u397_img.mouseOver.mouseDown {
}
#u397.mouseOver.mouseDown {
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  text-transform:none;
}
