body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:467px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:333px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3642_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:50px;
  width:441px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:91px;
  width:467px;
  height:195px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
