body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:486px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:342px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:50px;
  width:486px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:99px;
  width:470px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
