body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-76px;
  width:832px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:73px;
  width:211px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u2668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:109px;
  width:805px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  text-decoration:underline ;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:153px;
  width:401px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  text-decoration:underline ;
}
#u2670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:279px;
  width:98px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:249px;
  width:148px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2672_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:342px;
  width:290px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:375px;
  width:245px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:194px;
  width:308px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:15px;
  width:323px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u2676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
