body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:1111px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:14px;
  width:1107px;
  height:253px;
}
#u2517_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:253px;
  overflow:auto;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:271px;
  width:1107px;
  height:212px;
}
#u2518_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:212px;
  overflow:auto;
}
