body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:14px;
  width:1107px;
  height:253px;
}
#u3440_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:253px;
  overflow:auto;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:271px;
  width:1107px;
  height:212px;
}
#u3441_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:212px;
  overflow:auto;
}
