body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:985px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(2px 2px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:122px;
  width:401px;
  height:380px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:142px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u2793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2793_img.mouseOver {
}
#u2793.mouseOver {
}
#u2793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:438px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2794_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.803921568627451);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2794.mouseOver {
}
#u2794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:223px;
  width:373px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u2795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:148px;
  width:169px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u2796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:142px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u2797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:202px;
  width:400px;
  height:1px;
  display:flex;
  transition:none;
}
#u2798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u2798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:411px;
  width:400px;
  height:1px;
  display:flex;
  transition:none;
}
#u2799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u2799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:21px;
  width:167px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
}
#u2800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:66px;
  width:985px;
  height:84px;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:240px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u2803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:150px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u2804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:197px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:24px;
}
#u2805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:0px;
  width:148px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u2806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-decoration:underline ;
  text-align:left;
}
#u2807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:24px;
  width:240px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:24px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:24px;
  width:197px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u2810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:24px;
  width:148px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-decoration:underline ;
  text-align:left;
}
#u2812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u2812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:54px;
  width:240px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u2813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:54px;
  width:150px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:54px;
  width:197px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-align:left;
}
#u2815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u2815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:54px;
  width:148px;
  height:30px;
  display:flex;
  transition:none;
  font-size:13px;
  text-decoration:underline ;
  text-align:left;
}
#u2816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:164px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  font-size:30px;
  color:#FFFFFF;
}
#u2817 .text {
  position:absolute;
  align-self:center;
  padding:5px 5px 5px 5px;
  box-sizing:border-box;
  width:100%;
}
#u2817_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:58px;
  height:58px;
}
#u2817_img.mouseOver {
}
#u2817.mouseOver {
}
#u2817_img.mouseDown {
}
#u2817.mouseDown {
}
#u2817_img.mouseOver.mouseDown {
}
#u2817.mouseOver.mouseDown {
}
#u2817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
