body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:68px;
  width:649px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
}
#u6125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:147px;
  width:440px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:27px;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:212px;
  width:649px;
  height:279px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:27px;
}
#u6127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
